.shopping-cart-container {
    width: 60vw;
    height: 60vh;
    min-width: 60rem;
    min-height: 18rem;
    margin: 10vh auto;
    display: flex;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/* Cart Products */
.cart-products {
    width: 70%;
    background-color: var(--cart-products-background-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border: 1px solid var(--cart-products-background-color);
}   

.cart-products-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.cart-products-items {
    margin: 1rem 0;
    max-height: 70%;
    overflow-y: auto;
}

.cart-products-items > div {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin: 0 4rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--cart-element-color);
}

.cart-products-items > div:first-child {
    border-top: 1px solid var(--cart-element-color);
}

.cart-products-items > div > input {
    width: 3rem;
}

.cart-products-items > div > p {
    width: 10rem;
}

.cart-item-image {
    min-width: 5rem;
    height: 5rem;
}

.remove-item {
    color: var(--cart-element-color);
    font-size: 20px;
    cursor: pointer;
    text-align: right;
}

/* Cart Pricing */
.cart-prices {
    width: 30%;
    background-color: var(--cart-prices-background-color);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 1px solid var(--cart-prices-background-color);
}

.cart-prices h2 {
    padding: 2rem 0;
    border-bottom: 1px solid var(--cart-element-color);
    margin: 0;
}

.cart-prices > div {
    margin: 0 2rem;
}

.cart-total {
    display: flex;
    justify-content: space-between;
}

.cart-shipping > p {
    margin: 1rem 0 0.5rem;
}

.cart-shipping > select {
    display: block;
    padding: 0.5rem 0.25rem;
    margin: 0.5rem 0;
    width: 95%;
}

.cart-discount {
    position: relative;
}

.cart-discount > p {
    margin: 2rem 0 0.5rem;
}

.cart-discount .input-container {
    display: flex;
    align-items: center;
}

.cart-discount .input-container > input {
    position: relative;
    flex: 1;
    padding: 0.5rem 0.25rem;
    border-radius: 5px;
    border: 1px solid var(--cart-element-color);
    background-color: #e9e9ed;
}

.cart-discount .input-container .input-arrow {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.cart-end-total {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 2rem;
    border-top: 1px solid var(--cart-element-color);
}

.checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-button > button {
    width: 95%;
    padding: 0.5rem 0.25rem;
    color: var(--cart-products-background-color);
    background-color: var(--navbar-background-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 50ms ease-out;
}

.checkout-button > button:active {
    transform: scale(0.95);
}
