.home-products-display {
    width: 90vw;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0 5vw;
    justify-content: center;
    align-items: center;
}

.product-box {
    height: 40vh;
    min-height: 30rem;
    width: 15vw;
    min-width: 12rem;
}

.product-img-container {
    width: 80%;
    height: 20vh;
    min-height: 10rem;
}

.product-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: var(--border-radius);
    padding: 2rem 1rem;
    min-height: 10rem;
    object-fit: contain;
    
}
