.navbar {
  height: 7vh;
  position: sticky;
  top: 0;
  background-color: #1f1f21;
  color: #ececec;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.navbar > p {
  margin: 0;
}