.navbar {
  height: 10vh;
  position: sticky;
  background-color: #1f1f21;
  color: #ececec;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.navbar > p {
  margin: 0;
}